@model ECommerce.Models.Rasoi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rasoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <<form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Marca"></label>
                <input asp-for="Marca" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Modello"></label>
                <input asp-for="Modello" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Prezzo"></label>
                <input asp-for="Prezzo" class="form-control" type="number" step="0.01" />
            </div>
            <div class="form-group">
                <label asp-for="Tipo"></label>
                <input asp-for="Tipo" class="form-control" />
            </div>
            <div class="form-group">
                <label>Immagine prodotto</label>
                <input type="file" name="ImageFile" accept="image/*" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Crea</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
